<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <!-- 顶部导航栏 -->
    <div th:replace="common :: header"></div>

    <div class="container main-content">

    </div>

</body>
</html>